.container {
  display: flex;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 24px;
}

.img {
  height: 40px;
  width: 40px;
}

.customClassBottomBtnGroup {
  padding: 0 48px !important;
}
