.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 6px 0;
  padding: 12px;
  box-shadow: var(--box_shadow);
  border-radius: 12px;
}

.sectionTitle {
  margin-bottom: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
