.container {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: inherit;

}

.mainPart {
  display: flex;
  width: 100%;
  padding: 48px 32px;
  flex-direction: column;
}

.title {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue_color);
  white-space: pre-line;
}

.label {
  display: flex;
  width: 100%;
  margin-left: 2px;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--blue_color);
}

.label + .label {
  margin-top: 28px;
}

.input {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px var(--blue_color);
  background-color: #FFFFFF;
  color: var(--dark_blue_color);
}
