.title {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 600;
}

.cardContainer {
  margin-top: -12px;
  margin-left: 14px;
  scale: 0.85
}

.saveBtnSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 18px;
}

.saveBtnContainer {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
}

.infoSaveContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 14px;
  margin-top: -24px;
  margin-bottom: -4px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.info {
  margin-top: 2px;
  font-size: 12px;
}

.publicationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  padding: 0 14px;
}


