.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4px;
  overflow: hidden;
}

.filtersRowContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 4px 2px 8px;
}
