.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--section_background);
  box-shadow: var(--box_shadow);
  overflow: hidden;
  color: var(--gray_color);
}

.filtersRowContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.preloaderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.scrollContainer {
  display: flex;
  height: 100%;
  padding: 4px 8px 12px 8px;
  flex-wrap: wrap;
  align-content: baseline;
  gap: 16px;
  overflow-y: scroll;
}

.noProductsContainer {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  white-space: pre;
  text-align: center;
  color: var(--red_color);
}

.isAddingProductsTitle {
  display: flex;
  font-weight: 600;
  color: var(--dark_blue_color);
}
