.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.viewIco {
  height: 18px;
  margin-right: 14px;
  cursor: pointer;
}

.billIco {
  height: 16px;
  margin-right: 14px;
  cursor: pointer;
}

.deleteIco {
  height: 16px;
  cursor: pointer;
}

.infoPopUpText {
  text-align: center;
  color: var(--blue_color);
  font-size: 22px;
  font-weight: 600;
  white-space: pre;
}

.customPopUpBottomBtnGroup {
  width: 378px;
  padding: 0 32px !important;
  margin-bottom: 0 !important;
}

.customTooltipDetails {
  margin-top: -8px;
  margin-left: -145px;
}

.customTooltipCancel {
  margin-top: -8px;
  margin-left: -145px;
}

