.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px 0;
}

.rowContainer {
  display: flex;
  height: 126px;
  align-items: center;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  align-items: center;
  width: 268px;
  flex-shrink: 0;
  padding: 8px 16px 8px 28px;
  font-weight: 600;
  color: var(--blue_color);
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 28px;
}

.narrowContainer {
  display: flex;
  height: 74px;
}

.selectorContainer {
  display: flex;
  align-items: center;
  width: 268px;
  flex-shrink: 0;
  padding-left: 28px;
}

.selector {
  width: 252px;
  background-color: var(--section_background);
  margin-right: 0 !important;
}
