.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  padding: 0 16px;
  border-radius: 12px;
  color: var(--gray_color);
  flex-wrap: wrap;
}

