.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tableTitle {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding-right: 8px;
}

.tableColumnDate {
  display: flex;
  justify-content: center;
  width: 8%;
}

.tableColumnNumber {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 7%;
}

.tableColumnManufacturer {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 17%;
}

.tableColumnWeight {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 9%;
}

.tableColumnVolume {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 9%;
}

.tableColumnDelivery {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 12%;
}

.tableColumnCost {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 13%;
}

.tableColumnActions {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 10%;
}

.tableColumnStatus {
  display: flex;
  justify-content: center;
  width: 15%;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% + 4px);
  height: 100%;
  padding: 8px 8px 8px 0;
  overflow-y: scroll;

}
