.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 8px 0 18px;
}

.detailsHeader {
  display: flex;
  margin-top: 8px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftColumn {
  display: flex;
  width: 180px;
  white-space: pre-line;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--orange_color);
  font-weight: 600;
}

.titleRow {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  white-space: pre-line;
  text-align: center;
}

.titleRowNoConfirmed {
  padding-left: 180px;
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.title {
  width: 128px;
  font-weight: 600;
  margin-right: 4px;
}

.noConfirmationTitle {
  margin: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--orange_color);
}

.noDivergenceTitle {
  margin: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--green_color);
}

.delimiter {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid var(--gray_color_light)
}
