.container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  padding: 12px 24px;
  flex-direction: column;
  background-color: var(--main_background);
  color: var(--gray_color);
  border-radius: 12px;
  box-shadow: var(--box_shadow);
}

.title {
  display: flex;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  white-space: pre-line;
}

.ruleItem {
  display: flex;
  margin-bottom: 8px;
}

.email {
  color: var(--blue_color);
  margin-left: 8px;
}

.link {
  color: var(--blue_color);
  margin-left: 8px;
}
