.container {
  display: flex;
  max-width: 600px;
  min-width: 360px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: inherit;
  color: var(--blue_color);
}

.mainPart {
  display: flex;
  padding: 8px 16px 24px 16px;
  flex-direction: column;
}

.firstTitle {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  text-indent: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.titleBold {
  display: flex;
  margin-bottom: 32px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  white-space: pre-line;
  text-indent: 16px;
  text-align: center;
}
