.container {
  display: flex;
  margin-top: 4px;
  margin-bottom: 2px;
  padding: 4px 12px;
  height: 85px;
  border: 1px solid var(--gray_color_light);
  border-radius: 12px;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  overflow-y: scroll;
}
