.container {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  min-width: 156px;
  background-color: var(--main_background);
}

.title {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  font-weight: 600;
}

.onConfirming {
  border: 1px solid var(--dark_blue_color);
  color: var(--dark_blue_color);
}

.confirmedOrder {
  border: 1px solid var(--green_color_light);
  color: var(--green_color_light);
}

.canceledByUser {
  border: 1px solid var(--orange_color);
  color: var(--orange_color);
}

.canceledByManufacturer {
  border: 1px solid var(--red_color);
  color: var(--red_color);
}

.closedByDate {
  border: 1px solid var(--gray_color_light);
  color: var(--gray_color_light);
}
