.container {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark_blue_color);
  border-radius: 12px;
  width: 146px;
  color: var(--dark_blue_color);
}

.title {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  font-weight: 600;
}

.selectorArrowIco {
  width: 8px;
  margin-left: 8px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.completed {
  color: var(--section_background);
  background-color: var(--green_color_light);
  border: 1px solid var(--green_color_light);
}

.assembling {
  color: var(--blue_color);
  background-color: var(--yellow_color);
  border: 1px solid var(--yellow_color);
}

.confirming {
color: var(--blue_color);
  background-color: var(--gray_color_light_light);
  border: 1px solid var(--gray_color_light_light);
}

.delivering {
  color: var(--orange_color);
  border: 1px solid var(--orange_color);
}
