.conclusionRow {
  display: flex;
  margin: 4px 0;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.allWeightTitle {
  margin-right: 32px;
}

.allVolumeTitle {
  margin-right: 32px;
}
