.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0 8px 28px;
}

.title {
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  color: var(--gray_color);
}
