.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--main_background);
  overflow: hidden;
  padding: 8px 8px 0 8px;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.33px;
  color: var(--gray_color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 4px 8px 0 8px;
  padding: 0 4px;
  border-radius: 12px;
  overflow: hidden;
}
