.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.selectorContainer {
  display: flex;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
}

.priceButtonContainer {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding-left: 12px;
  margin: 32px 0;
}

.priceIco {
  margin-left: 2px;
}
