.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.selectorContainer {
  display: flex;
}

.bottomContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
