.wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crumbsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 8px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--main_background);
  color: var(--gray_color);
  border-radius: 12px;
  box-shadow: var(--box_shadow);
  overflow: hidden;
}

.scrollContainer {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: scroll;
}

.noScroll {
  overflow: hidden !important;
}
