.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  height: 22px;
}

.notPublished {
  color: var(--gray_color_light);
}

.sizeContainer {
  width: 17%;
}

.materialContainer {
  width: 19%;
}

.sortContainer {
  width: 18%;
}

.codeContainer {
  width: 28%;
  padding-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceContainer {
  width: 10%;
}

.actionsContainer {
  display: flex;
  min-width: 60px;
  justify-content: space-between;
}

.infoRow {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.visibilityIcoContainer {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.visibilityIco {
  position: absolute;
  top: 2px
}

.editIcoContainer {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.editBlueIco {
  position: absolute;
  top: -1px
}

.delimiter {
  display: flex;
  width: 100%;
  margin-top: 1px;
  border-bottom: 1px solid var(--gray_color_light)
}
