.container {
  display: flex;
  margin-top: 6px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 12px;
  align-items: center;
}

.infoSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.btnCreateContainer {
  margin-top: 32px;
}

.btnReadyContainer {
  margin: 32px 0;
}

.infoPopUpText {
  text-align: center;
  color: var(--blue_color);
  font-size: 22px;
  font-weight: 600;
  white-space: pre;
}

.infoPopUpSmallText {
  font-size: 18px;
}

.customPopUpBottomBtnGroup {
  width: 378px;
  padding: 0 32px !important;
  margin-bottom: 0 !important;
}
