.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tableTitle {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding-right: 8px;
}

.tableColumnDate {
  display: flex;
  justify-content: center;
  width: 7%;
}

.tableColumnNumber {
  display: flex;
  padding-left: 12px;
  width: 7%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableColumnManufacturer {
  display: flex;
  padding-left: 12px;
  width: 17%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableColumnWeight {
  display: flex;
  padding-left: 12px;
  width: 9%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableColumnVolume {
  display: flex;
  padding-left: 12px;
  width: 9%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableColumnDelivery {
  display: flex;
  padding-left: 12px;
  justify-content: flex-start;
  width: 11%;
  white-space: pre-line;
}

.tableColumnCost {
  display: flex;
  padding-left: 12px;
  width: 12%;
  white-space: pre-line;
}

.tableColumnActions {
  display: flex;
  padding-left: 13px;
  justify-content: flex-start;
  width: 12%;
}

.tableColumnStatus {
  display: flex;
  justify-content: center;
  width: 15%;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% + 4px);
  height: 100%;
  padding: 8px 8px 38px 0;
  overflow-y: scroll;
}

.scrollContainer::-webkit-scrollbar-track {
  margin-bottom: 42px;
}

.emptyList {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  color: var(--orange_color);
}
