.container {
  position: absolute;
  top: 0;
  left:0;
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
  /*opacity: 0;*/
  transition: opacity 0.5s;
}

.isShow {
  display: flex;
  /*opacity: 1;*/
  /*transition: opacity 0.5s;*/
}

.content{
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: white;
}
