.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px;
  overflow: hidden;
}

.breadCrumbsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}
