.container {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: inherit;
}

.mainPart {
  display: flex;
  width: 100%;
  padding: 48px 32px 24px 32px;
  flex-direction: column;
}

.titleBold {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  color: var(--blue_color);
  white-space: pre-line;
}

.field {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}


.label {
  display: flex;
  width: 100%;
  margin-left: 2px;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--blue_color);
}

.input {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px var(--blue_color);
  background-color: #FFFFFF;
  color: var(--dark_blue_color);
}

.selectorLabel {
  margin-bottom: 8px;
  white-space: pre-line;
}

.selectorContainer {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.selector {
  margin-right: 0;
  position: relative;
}

.inputInvisible {
  position: absolute;
  opacity: 0;
  width: 0;
  top: 30px;
  left: 400px;
}
