.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topPartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 600;
}

.cardContainer {
  margin-top: -22px;
  scale: 0.85
}

.customClassBottomBtnGroup {
  padding: 0 16px !important;
  margin-bottom: 0 !important;
}

.saveBtnSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 18px;
}

.saveBtnContainer {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
}

.infoSaveContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 14px;
  margin-top: -24px;
  margin-bottom: -4px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.sectionTitle {
  font-weight: 600;
}

.info {
  height: 14px;
  margin-top: 2px;
  font-size: 12px;
}

.publicationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  padding: 0 14px;
}

.btnReadyContainer {
  margin-bottom: 32px;
}

.btnDeleteContainer {
  margin-top: 32px;
}

.publishPopUp {
  display: flex;
  margin: 64px 96px 64px 96px;
  font-size: 24px;
  line-height: 32px;
  color: var(--blue_color);
  justify-content: center;
  text-align: center;
  white-space: pre;
}

.fillSectionPopUp {
  display: flex;
  margin: 16px 32px 16px 32px;
  font-size: 24px;
  line-height: 32px;
  color: var(--blue_color);
  justify-content: center;
  text-align: center;
  white-space: pre;
}

.customClassBottomBtnGroupLogout {
  padding: 0 64px 0 64px;
}


