.container {
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 370px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: var(--box_shadow);
  overflow: hidden;
  cursor: pointer;
  color: var(--gray_color);
  background-color: var(--section_background);
}

.addProductCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue_color);
}

.addCardButton {
  margin-top: 100px;
  width: 96px;
  height: 96px;
}

.addCardTitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main_background);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 201px;
  border-radius: 12px 12px 0 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0
}

.noImageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--blue_color);
  border-radius: 12px 12px 0 0;
  border: 2px dotted var(--blue_color);
}

.noImg {
  margin-bottom: 8px;
}

.descriptionContainer {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  flex-direction: column;
}

/*.materialTitle {*/
/*  font-size: 16px;*/
/*}*/

.dimensionsAndMaterialContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.rowContainerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnGroup {
  display: flex;
  align-items: center;
}

.starIco {
  margin-top: 2px;
  height: 20px;
}

.cartIco {
  height: 19px;
}

.delimiter {
  display: flex;
  width: 100%;
  height: 1px;
  margin: 2px 0;
  background-color: #c0c0c0;
}

.subCategoryTile {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
}

.rowContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.dimensionsTile {
  font-size: 16px;
}

.dimensionsIcoContainer {
  height: 22px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.sortTitle {
  font-size: 14px;
}

.materialsIco {
  height: 22px;
}

.dimensionsIco {
  height: 22px;
}

.wareHouseIcoContainer {
  height: 22px;
  margin-right: 12px;
}

.wareHouseIco {
  margin-top: 2px;
  margin-left: 2px;
  height: 17px;
}

.locationIcoContainer {
  height: 22px;
  margin-right: 12px;
}

.locationIco {
  margin: 1px 0;
  height: 20px;
}

.rubleIcoContainer {
  height: 22px;
  margin-right: 10px;
}

.rubleIco {
  margin: 1px 0;
  height: 20px;
}
