.container {
  display: flex;
  flex-direction: column;
  width: 266px;
  border-radius: 12px;
  box-shadow: var(--box_shadow);
  overflow: hidden;
  color: var(--gray_color);
  background-color: var(--section_background);
  font-size: 14px;
  margin-bottom: 2px;
}

.addProductCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 367px;
  background-color: var(--blue_color);
}

.addCardButton {
  margin-top: 100px;
  width: 96px;
  height: 96px;
}

.addCardTitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main_background);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 199px;
  border-radius: 12px 12px 0 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0
}

.noImageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 199px;
  justify-content: center;
  align-items: center;
  color: var(--blue_color);
  border-radius: 12px 12px 0 0;
  border: 1px dotted var(--blue_color);
}

.noImg {
  margin-bottom: 8px;
}

.descriptionContainer {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  flex-direction: column;
}

.dimensionsAndMaterialContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.rowContainerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnGroup {
  display: flex;
  align-items: center;
}

.starIco {
  margin-top: 2px;
  height: 20px;
}

.cartIco {
  height: 19px;
}

.delimiter {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid var(--gray_color_light)
}

.subCategoryTile {
  display: flex;
  min-height: 25px;
  align-items: center;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.rowContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.dimensionsTile {
  font-size: 14px;
}

.dimensionsIcoContainer {
  height: 22px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.sortTitle {
  font-size: 14px;
}

.materialsIco {
  height: 22px;
}

.dimensionsIco {
  height: 22px;
}

.wareHouseIcoContainer {
  height: 22px;
  margin-right: 12px;
}

.wareHouseIco {
  margin-top: 2px;
  margin-left: 2px;
  height: 17px;
}

.locationIcoContainer {
  height: 22px;
  margin-right: 12px;
}

.locationIco {
  margin: 1px 0;
  height: 20px;
}

.rubleIcoContainer {
  height: 22px;
  margin-right: 10px;
}

.rubleIco {
  margin: 1px 0;
  height: 20px;
}

.additionalInfo {
  display: flex;
  flex-shrink: 0;
  width: 85px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.isSeptic {
  display: flex;
  font-size: 14px;
}

.isDried {
  display: flex;
  font-size: 11px;
  color: #101010;
  white-space: nowrap;
}

.doubleRow {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #101010;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  cursor: pointer;
}

.notPublished {
  opacity: 0.7;
}

.draft {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 75px;
  left: 33px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--red_color);
  border: 2px solid var(--red_color);
  border-radius: 2px;
  transform: rotate(-25deg);
  background-color: rgba(255, 255, 255, 0.2);
}

.starIcoContainer {
  margin-right: 4px;
}
