.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 8px 0 18px;
}

.noDivergenceTitle {
  margin: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--green_color);
}

.delimiter {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid var(--gray_color_light)
}

.infoPopUpText {
  text-align: center;
  color: var(--blue_color);
  font-size: 22px;
  font-weight: 600;
  white-space: pre;
}

.customPopUpBottomBtnGroup {
  width: 378px;
  padding: 0 32px !important;
  margin-bottom: 0 !important;
}

.infoPopUpText {
  margin: 6px 12px;
}
