.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4px;
  overflow: hidden;
  height: calc(100vh - 64px);
}

.breadCrumbsContainer {
  display: flex;
  padding: 8px 18px 12px 8px;
}
