.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 32px;
}

.rowContainer {
  display: flex;
  font-weight: 400;
  margin: 0 18px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 155px;
  flex-shrink: 0;
}

.amount {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 50px;
  font-weight: 600;
}

.delimiter {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 2px solid var(--gray_color_light)
}

.buyLicenses {
  margin-right: 12px;
}
