.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.titlePart {
  display: flex;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  align-items: center;
  border: 1px solid var(--dark_blue_color);
  border-radius: 12px 12px 0 0;
  color: var(--gray_color);
  background-color: var(--gray_color_light_light);
  font-weight: 600;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.titleSelector {
  display: flex;
  margin-bottom: 4px;
  font-size: 14px;
  color: var(--blue_color)
}

.selectorArrowIco {
  width: 10px;
  padding-top: 4px;
  display: flex;
  align-items: center;
}

.expandPart {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px 12px;
  align-items: center;
  border-radius: 0 0 12px 12px;
  border: 1px solid var(--dark_blue_color);
  border-top: none;
  opacity: 1;
  background-color: var(--main_background);
}

.rotate {
  transform: rotate(180deg);
}
