.container {
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
  height: calc(100vh - 72px);
  padding: 32px 16px;
  background-color: #FFFFFF;
  color: var(--gray_color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: var(--box_shadow_dark);
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
}


.menuButton {
  display: flex;
  margin-top: 4px;
  padding: 4px 0 4px 16px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray_color);
  border-radius: 8px;
}

.menuButton:hover {
  box-shadow: var(--box_shadow_dark);
}

.ico {
  margin-right: 16px;
}

.personalSection {
  display: flex;
  height: 100%;
  align-items: flex-start;
  margin-top: 64px;
}

.sectionWrapper {
  margin-top: 64px;
}
