.content {
  display: flex;
  margin-top: 32px;
  margin-left: 28px;
  flex-direction: column;
  font-size: 18px;
  color: var(--gray_color);
}

.rowContainer {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  display: flex;
  font-weight: 600;
  width: 498px;
}

.btnContainer {
  margin-left: 8px;
}
