.container {
  display: flex;
  padding: 4px 0;
}

.title {
  cursor: pointer;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colonContainer {
  margin-left: 2px;
  margin-right: 8px;
}

.separatorContainer {
  margin: 0 8px;
}

.lastCrumbs {
  cursor: default;
}

