.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.33px;
  color: var(--gray_color);
  margin-bottom: 32px;
}

.btnSectionContainer {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.btnReadyContainer {
  display: flex;
  margin: 32px 0;
}
