.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue_color);
}

.title {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 24px;
}

.email {
  margin-bottom: 4px;
  color: var(--blue_color)
}

.register{
  font-weight: 600;
  font-size: 24px;
  color: var(--green_color)
}

.subTitle {
  margin-bottom: 4px;
}

.subTitleRed {
  margin-top: 16px;
  margin-bottom: 4px;
  color: var(--red_color);
  white-space: pre-line;
}

.bottomTitle {
  font-size: 14px;
  line-height: 16px;
  margin-top: 16px;
  white-space: pre-line;
}
