.container {
  display: flex;
  align-items: center;
  padding: 8px 16px 4px 12px;
  cursor: pointer;
  color: var(--gray_color);
}

.box {
  width: 20px;
  height: 20px;
  background-color: var(--section_background);
  border: 1px solid var(--blue_color);
  border-radius: 6px;
}

.checkedBox {
  width: 20px;
  height: 20px;
  background-color: var(--green_color);
  border-radius: 6px;
}

.title {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--blue_color);
}

.checkStatusIco {
  margin-top: 4px;
  margin-left: 3px;
}
