.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 2px 4px 12px;
  color: var(--gray_color);
}

.box {
  width: 20px;
  height: 20px;
  background-color: var(--section_background);
  border: 1px solid var(--blue_color);
  border-radius: 6px;
  cursor: pointer;
}

.checkedBox {
  width: 20px;
  height: 20px;
  background-color: var(--green_color);
  border-radius: 6px;
  cursor: pointer;
}

.title {
  position: static;
  display: flex;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--blue_color);
  cursor: default;
}

.constantWidth {
  width: 140px;
}

.checkStatusIco {
  margin-top: 4px;
  margin-left: 3px;
}

.amountTitle {
  display: flex;
  padding-top: 1px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray_color)
}

.toolTip {
  position: fixed;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  left: 250px;
  background: var(--main_background);
  border-radius: 6px;
  z-index: 10;
  white-space: nowrap;
  box-shadow: var(--box_shadow_dark);
  color: var(--green_color_light);
}
