.content {
  display: flex;
  margin-top: 16px;
  margin-left: 28px;
  flex-direction: column;
  font-size: 18px;
  color: var(--gray_color);
}

.rowContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
}

.rowDataContainer {
  display: flex;
  align-items: center;
}

.rowDataContainer + .rowDataContainer {
  margin-top: 18px;
}

.title {
  display: flex;
  font-weight: 600;
  width: 240px;
  margin-right: 18px;
}

.value {
  display: flex;
  width: 240px;
}

.btnContainer {
  margin-left: 8px;
}
