.container {
  position: relative;
  display: flex;
  margin-top: 8px;
  padding: 8px 6px 8px 24px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--section_background);
  box-shadow: var(--box_shadow);
  overflow: hidden;
  color: var(--gray_color);
}

.priceContentContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 40px;
  right: 40px;
}

.dateRow {
  display: flex;
  font-weight: 600;
  font-size: 12px;
}

.pageTitle {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-top: 12px;
  margin-bottom: 18px;
  padding-right: 150px;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.twoColumnContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.rowTitle {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.bold {
  font-size: 12px;
  font-weight: 700;
}

.listScrollContainer {
  overflow-y: scroll;
  padding-right: 18px;
}

.preloaderContainer {
  display: flex;
  height: 100%;
}

.emptyPrice {
  display: flex;
  width: 100%;
  margin-top: 32px;
  justify-content: center;
  color: var(--orange_color);
}
