.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 268px;
  /*margin-right: 32px;*/
}

.result {
  /*margin-right: 16px;*/
  font-size: 14px;
  font-weight: 600;
}

.pagination {
  font-size: 16px;
}
