.container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 56px;
  padding: 4px 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section_background);
  box-shadow: var(--box_shadow);
}
