.container {
  display: flex;
  min-width: 120px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.default {
  color: #FFFFFF;
  background-color: var(--blue_color);
}

.red {
  color: #FFFFFF;
  background-color: var(--red_color);
}

.secondary {
  color: var(--blue_color);
  background-color: #FFFFFF;
  border: solid 2px var(--blue_color);
}

.filter {
  display: flex !important;
  height: 24px;
  align-items: center !important;
  padding-left: 10px !important;
  padding-right: 2px !important;
  margin-right: 12px;
  min-width: 80px !important;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark_blue_color);
  background-color: #FFFFFF;
  border: solid 1px var(--dark_blue_color);
  cursor: default;
  margin-bottom: 4px;
}

.closeFilter {
  display: flex;
  width: 20px;
  margin-bottom: 1px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  color: var(--dark_blue_color);
  border-radius: 50%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
