.content {
  display: flex;
  max-width: 500px;
  margin-left: 28px;
  flex-direction: column;
  font-size: 18px;
  color: var(--gray_color);
}

.rowContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.dataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 6px;
}

.rowDataContainer {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  flex-wrap: wrap;
}

.rowDataContainer + .rowDataContainer {
  margin-top: 6px;
}

.title {
  display: flex;
  width: 25%;
  min-width: 240px;
  font-weight: 600;
  margin-right: 18px;
  padding: 4px 0;
}

.input {
  display: flex;
  flex-grow: 1;
  padding: 4px 12px;
  max-width: 500px;
  min-width: 280px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  outline: none;
  border: solid 1px var(--blue_color);
  border-radius: 6px;
  background-color: #FFFFFF;
  color: var(--blue_color);
}

.btnGroup {
  display: flex;
  max-width: 500px;
  margin-top: 24px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: var(--blue_color);
  white-space: pre-line;
}

.subtitleInner {
  margin-bottom: 4px;
  margin-left: 12px;
  font-size: 14px;
  color: var(--blue_color);
  white-space: pre-line;
}
