.forgotBtn {
  padding-top: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  border: none;
  background-color: #FFFFFF;
  color: var(--blue_color);
  cursor: pointer;
  text-decoration-line: underline;
}
