.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--box_shadow);
  background-color: var(--section_background);
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
}

.img {
  width: 176px;
  height: 112px;
  border-radius: 12px;
  object-fit: cover;
}
