.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 8px 0 18px;
}

.detailsHeader {
  display: flex;
  width: 100%;
  margin-top: 8px;
  flex-direction: column;
}

.titleRow {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  white-space: pre-line;
  text-align: center;
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.title {
  width: 128px;
  font-weight: 600;
  margin-right: 4px;
}

.delimiter {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px solid var(--gray_color_light)
}

.delimiterDotted {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 1px dashed var(--gray_color_light)
}
