.container {
  display: flex;
  font-weight: bold;
  color: var(--dark_blue_color);
  cursor: pointer;
}

.customClassBottomBtnGroup {
  padding: 0 32px 0 64px;
}

.forgotBtn {
  padding-top: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  border: none;
  background-color: #FFFFFF;
  color: var(--red_color);
  cursor: pointer;
  text-decoration-line: underline;
}
