.container {
  display: flex;
  width: 100%;
  padding: 8px 18px 0 8px;
  margin-bottom: 8px;
}

.content {
  width: 100%;
  padding: 0 32px;
  height: 36px;
  display: flex;
  align-items: center;
  box-shadow: var(--box_shadow);
  border-radius: 12px;
  color: var(--blue_color);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--section_background);
}

.rightArrow {
  margin: 0 8px;
}
