:root {
  --main_background: #FAFAFA;
  --section_background: #FFFFFF;
  --blue_color: #4A90E2;
  --green_color: #84b000;
  --green_color_light: #03C03C;
  --yellow_color: #FEE12B;
  --orange_color: #FF8E00;
  --red_color: #FF0000;
  --gray_color: #4A4A4A;
  --gray_color_light: #979797;
  --gray_color_light_light: #E9E9E9;

  --scrollbar_thumb: #b6c4c5;

  --box_shadow_light: 1px 2px 8px rgba(102, 126, 234, 0.2);
  --box_shadow: 1px 2px 8px rgba(102, 126, 234, 0.4);
  --box_shadow_dark: 1px 2px 8px rgba(102, 126, 234, 0.6);

}
