:root {
  --main_background: #FAFAFA;
  --section_background: #FFFFFF;
  --blue_color: #4A90E2;
  --dark_blue_color: #3E4FFF; /*--dark_blue_color: #5C69DE;*/
  --green_color: #84b000;
  --green_color_light: #0add08;
  --red_color: #FF0000;
  --gray_color: #4A4A4A;
  --gray_color_light: #979797;
  --gray_color_light_light: #E9E9E9;
  --gray_color_light_light_light: #C0C0C0;

  --box_shadow_light: 1px 2px 8px rgba(102, 126, 234, 0.2);
  --box_shadow: 1px 2px 8px rgba(102, 126, 234, 0.4);
  --box_shadow_dark: 1px 2px 8px rgba(102, 126, 234, 0.6);

}
