.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 6px 0;
  padding: 12px;
  box-shadow: var(--box_shadow);
  border-radius: 12px;
}

.rowContainer {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.selectorContainer {
  display: flex;
  align-items: center;
  width: 268px;
  flex-shrink: 0;
  padding-left: 28px;
}

.selector {
  font-size: 16px;
  background-color: var(--section_background);
  margin-right: 0 !important;
}
