.container {
  position: relative;
  display: flex;
  width: 24px;
  justify-content: center;
}

.ico {
  margin-top: -6px;
  width: 20px;
}

.customToolTip {
  top: -48px !important;
  left: -180px !important;
  width: 180px !important;
  padding: 4px 12px !important;
  margin-left: 0!important;
  justify-content: center !important;
  color: var(--section_background) !important;
  background-color: var(--orange_color) !important;
  border-radius: 12px !important;
  text-align: center !important;
  white-space: pre-line !important;
  font-weight: 700 !important;
}
