.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 8px 0 18px;
}

.delimiterBlue {
  display: flex;
  width: 100%;
  margin: 2px 0;
  border-bottom: 2px solid var(--blue_color)
}

.content {
  margin: 0 12px;

}

.sectionTitle {
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0 2px 0;
}
