.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.viewIco {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.chatIco {
  height: 22px;
  width: 22px;
  margin-top: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.archiveIco {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}


.infoPopUpText {
  text-align: center;
  color: var(--blue_color);
  font-size: 22px;
  font-weight: 600;
  white-space: pre;
}

.customPopUpBottomBtnGroup {
  width: 378px;
  padding: 0 32px !important;
  margin-bottom: 0 !important;
}

.customTooltipDetails {
  margin-top: -5px;
  margin-left: -145px;
}

.customTooltipChat {
  margin-top: -2px;
  margin-left: -191px;
}


.customTooltipCancel {
  margin-top: -7px;
  margin-left: -143px;
}

.customTooltipArchive {
  margin-top: -6px;
  margin-left: -190px;
}

